<%= render 'navbar' %>

<div class="division"></div>
<div class="gray">
<div class="container white">
<%= render  'carousel' %>
<% i = 1 %>
<% @courses.each do |index| %>
<div class="row vidoes_topm">
	<div class="col-md-1 col-xs-1 boxbg"><%=  i  %></div>
	<div class="col-md-9 col-xs-9">
		<div class="videotext">
		<%= index.title %></div>
	</div>
	<div class="col-md-2 col-xs-2 more">
		<a href="">更多>></a>
	</div>
</div>
<div class="row">
<% index.vios.each do |ind|%>
	<div class="col-md-4">
		<%= image_tag ind.imagename %>
	<div class="video_title">
		<%= index.title %>&nbsp&nbsp&nbsp&nbsp akdskjfk
	</div>
	<div class="video_futitle">
		<%= ind.title %>
	</div></div>
<% end %>
</div>
<% i = i + 1 %>
<%end%>
<div class="row"></div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4"></div>
	<div class="col-md-4"></div>
</div>
<%= render 'bottom' %>
</div>
</div>
