<%= render 'head' %>
<%= render 'picture_2' %>
<div class="subject_out_bg_2">
	<div class="container subject_in_bg_2">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6 word_blue_2"><h2>题目列表</h2></div>
				<div class="col-md-6 word_blue_2 word_height_mid_2 word_pull_right_2"><h4>成绩查询>></h4></div>
			</div>
			<div class="col-md-12"><hr class="divider" /></div>
			<div class="col-md-12">
				<% (1..4).each do|int| %>
					<div class="col-md-12">
						<hr class="nodle_top_2" />
						<div class="title_blank_2"><%= @whole["#{int}"][:title] %></div>
						<hr class="nodle_bottom_2" />
					</div>
					<div class="col-md-12">
						<form class="radio_padding">
							<% (1..4).each do |ind| %>
								<input type="radio" name="<%=  "#ind" %>" value="<%=  "#ind" %>" />
								<%= @whole["#{int}"][:option]["#{ind}"] %>
								<br />
								<br />
							<% end %>
						</form>
					</div>
				<% end %>
			</div>
		</div>
		<%= render 'button_2' %>
		<%= render 'bottom' %>
	</div>
</div>