<%= render :partial =>"welcome/navbar"%>
<div class="division"></div>
<div class="gray">
    <div class="container white">
          <%= render :partial =>"welcome/carousel"%>
              <% i=1 %>
              <% @courses.each do |course|  %>
                   
                    <h2> <%= i %>  <%= course.cname %></h2>
                    <div class="row">
                      <% course.videos.each do |video| %>
                      <div class="col-md-4">
                        <p>
                            <strong>cname:</strong>
                            <%= link_to video.vname, course_video_path(video.course, video) %>
                          </p>  

                          <p>
                            <strong>video:</strong>
                            <%= video.body %>
                          </p>
                      </div>
                          
                      <% end %>
                      </div>
                      <% i = i+1 %>
                <% end %>

          <hr class="divider">
          <%= render :partial =>"welcome/footer"%>
    </div>
</div>





<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="4"></th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%= course.cname %></td>
      <td><%= course.text %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'videos2222', course_videos_path(course) %><td>
    <td><%= link_to 'Destroy', course_path(course),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to '添加新课程', new_course_path %>

